div{
	background-color: pink;
	display:none;
	width: 300px;
	height:300px;
	text-align: center;
}
button {
 	background-color: white;
    color: black;
    border: 2px solid grey;
    padding: 20px;
    display: inline-block;	
    margin: 10px; 
}